@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/AccountDetails/AccountDetails" class="btn btn-cta">Go to Account</a>
    <a asp-page="/PropertyListings/PropertyListings" class="btn btn-cta">Go to Listings</a>

</div>
